body {
  background-color: fafafa;
}

h1,
h2,
h3,
h4,
h5,
button,
input {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-page {
  width: 54px;
}
.back-page:hover {
  cursor: pointer;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.controls {
  display: flex;
  align-items: center;
  margin-top: 10vh;
}

.enterInput {
  width: 657px;
  height: 43px;
  border-radius: 10px 0 0 10px;
  background-color: #fafafa;
  display: block;
  border: none;
}

.enterInput:focus {
  outline: none;
}

input[type="text"] {
  padding-left: 20px;
}

.btn {
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.btn-search {
  width: 43px;
  height: 43px;
  border-radius: 0 10px 10px 0;
  background-color: #1e7bb0;
}
.btn-preview {
  height: 33px;
  background-color: #fafafa;
  border-radius: 10px;
  padding-left: 3vh;
  padding-right: 3vh;
  border: 2px solid #1e7bb0;
  color: #1e7bb0;
  z-index: 1;
  position: relative;
}

.btn-primary {
  height: 33px;
  background-color: #fafafa;
  border-radius: 10px;
  padding-left: 3vh;
  padding-right: 3vh;
  border: 2px solid #1e7bb0;
  color: #1e7bb0;
}

.btn-primary:hover{
	color: whitesmoke;
	background-color: #1e7bb0;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.search-img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  width: 21px;
}

.preview-page {
  margin-top: 2vh;
  position: relative;
}

.btn-disable {
  opacity: 0.4;
  cursor: default;
}

.content-hidden {
  display: none;
}

.content {
  margin-top: 4vh;
  width: 100%;
}

/*////////////////////////////////////////// TABLE */

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  max-width: 700px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #1e7bb0;
  color: #fafafa;
  text-align: left;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  font-size: 10px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddd;
}
.content-table tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #1e7bb0;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #1e7bb0;
}
/*////////////////////////////////////////// CHART TYPES */
h1,
h2,
h3,
h4,
a,
p {
  margin: 0;
  padding: 0;
}

.graph-type {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4vh;
}

.line-chart {
  display: inline-block;
  justify-content: center;
  text-align: center;
}
.line-chart:hover {
  cursor: pointer;
}

.header-content {
  display: flex;
  text-align: center;
  justify-content: center;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.chart-view {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
}

/*/////////////////////////////////////////// INPUT FILTER */
.axis {
  display: flex;
  justify-content: center;
}

.axisX,
.axisY {
  width: 80%;
  border-radius: 10px 10px 10px 10px;
}

.line-chart:hover {
  filter: invert(25%);
  -webkit-filter: invert(25%);
}


/*////////////////////////////////////////////////// ALERT */
.alert-msg{
	margin-top: 4vh;
	width: 150vh;
	height: 10vh;
	display:flex;
	align-items:center;
	text-align:center;
	background-color: #a03a48;
	border-radius: 6px 6px 6px 6px;
  }
  
  h3{
	border-bottom: 1px solid white;
  }
  
  .close-img{
	filter: invert(100%);
	-webkit-filter: invert(100%);
  }
  
  .alert-img{
	display:flex;
	justify-content:center;
	margin-right: 1vh;
	margin-left: 4vh;
  }
  
  .alert-close{
	display:flex;
	margin-left: 42vh;
  }

  .alert{
	width: 550px;
	margin: 0 auto;
	display: flex;
	justify-content:center;
  }

  .alert-text{
	  color:#f3f3f3;
	  margin-left: 4vh;
  }

  .alt-cls{
	  cursor: pointer;
  }