body {
	background-color: fafafa;
  }
  
  h1, h2, h3, h4, h5, button, input{
	margin: 0;
	padding: 0;
	font-size: 13px;
  }
  
  .wrapper {
	width: 100%;
  }
  
  .container{
	width: 700px;
	margin: 0 auto;
  }
  
  .controls {
	display: flex;
	align-items: center;
	margin-top:10vh;
  }
  
  .enterInput{
	width: 657px;
	height: 43px;
	border-radius: 10px 0 0 10px;
	background-color: #fafafa;
	display: block;
	border: none;
  }
  
  .enterInput:focus {
	  outline: none;
  }
  
  input[type="text"] {  
	  padding-left: 20px; 
   }
  
  .btn{
	border: none;
	cursor: pointer;
	text-decoration: none;
  }
  .btn-search{
	width: 43px;
	height: 43px;
	border-radius: 0 10px 10px 0;
	background-color: #1e7bb0;
  }
  .btn-preview{
	height: 33px;
	background-color: #fafafa;
	border-radius: 10px;
	padding-left: 3vh;
	padding-right: 3vh;
	border: 2px solid #1e7bb0;
	color: #1e7bb0;
	z-index: 1;
	position: relative;
  }
  
  .btn-primary{
	height: 33px;
	background-color: #fafafa;
	border-radius: 10px;
	padding-left: 3vh;
	padding-right: 3vh;
	border: 2px solid #1e7bb0;
	color: #1e7bb0;
  }
  
  img{
	  filter: invert(100%); 
	  -webkit-filter:invert(100%);
	  width: 21px;
	  
  }
  
  .preview-page{
	margin-top: 2vh;
	position:relative;
  }
  
  .btn-disable{
	opacity: .4;
	cursor: default;
  }
  
  .content-hidden{
	display:none;
  }
  
  table{
	position: absolute;
	top: -67px;
  }
  
  tbody tr:nth-child(even) {
	background-color: #fafafa;
  }
  
  table thead tr {
	height: 90px;
	background: #1e7bb0;
  }
  table {
	border-spacing: 1;
	border-collapse: collapse;
	background: white;
	border-radius: 10px;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	position: relative;
  }
  table * {
	position: relative;
  }
  table td, table th {
	padding-left: 8px;
  }
  
  table tbody tr {
	height: 50px;
  }
  table tbody tr:last-child {
	border: 0;
  }
  table td, table th {
	text-align: left;
  }
  table td.l, table th.l {
	text-align: right;
  }
  table td.c, table th.c {
	text-align: center;
  }
  table td.r, table th.r {
	text-align: center;
  }
  
  .tbl-content{
	margin-top:5vh;
  }
  
  .table100-head th{
	font-size: 18px;
	color: #fff;
	line-height: 1.2;
	font-weight: unset;
  }
  
  tbody tr:nth-child(even) {
	background-color: #f5f5f5;
  }
  
  tbody tr {
	color: #808080;
	line-height: 1.2;
  }
  
  tbody tr:hover {
	color: #555555;
	background-color: #f5f5f5;
  }
  
  .p-right{
	position: absolute;
	right: 32vh;
  }